*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;


    --body-clr: #fbfbff;
    --darkblue-clr: #8e61dc;
    --lightblue-clr: #8bc6f8;
    --menu-items-clr: #777;
    --heading-clr: #333;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--body-clr);
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
}

.home .background{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.home .background .blob1{
    position: absolute;
    left: 40%;
    top: -150px;
    transform: rotate(-45deg);
    opacity: 0.1;
}

.home .background .blob2{
    position: absolute;
    left: -100px;
    bottom: 5%;
    opacity: 0.1;
}

.home .background .color1{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 15%;
    left: 20%;
    background-color: var(--lightblue-clr);
    filter: blur(80px);
}

.home .background .color2{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 20%;
    right: 10%;
    background-color: var(--darkblue-clr);
    filter: blur(140px);
}

.home .background .color3{
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: -40px;
    left: 40%;
    background: -o-linear-gradient(right, #8e61dc, #8bc6f8);
    filter: blur(110px);
}

.home .navbar{
    width: 100%;
    height: 70px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
}

.navbar .logo{
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar .logo span{
    font-size: 28px;
    display: flex;
    align-items: center;
}

.navbar .logo span b{
    padding: 1px 5px;
    font-size: 20px;
    background-color: var(--darkblue-clr);
    border-radius: 5px;
}

.navbar ul.nav-links{
    list-style: none;
    
}
.navbar ul.nav-links li{
    display: inline-block;
    margin: 0px 20px;
}

.navbar ul.nav-links li a{
    font-size: 15px;
    text-decoration: none;
    color: var(--menu-items-clr);
    transform: 0.5s;
}

.navbar ul.nav-links li a:hover{
    color: var(--darkblue-clr);
    font-weight: bold;
}

.btn{
    padding: 9px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 25px;
    font-size: 16px;
    color: var(--body-clr);
    background-color: var(--darkblue-clr);
    box-shadow: 0px 20px 24px 3px rgba(142,97,220,0.3);
    cursor: pointer;
    transition: 0.5s;
}
.btn:hover{
    background-color: var(--body-clr);
    color: var(--darkblue-clr);
    border: 2px solid var(--darkblue-clr);
    box-shadow: 0px 5px 15px 3px rgba(142,97,220,0.3);
}

.home .hero-section{
    position: relative;
    width: 100%;
    height: calc(100vh - 70px);
    top: 70px;
    display: flex;
    padding: 0px 8%;
}

.hero-section .left-side{
    position: relative;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.hero-section .left-side .contents{
    position: relative;
    top: -40px;
    /* margin-top: 300px; */
    margin-top: 50%;

}

.hero-section .left-side .contents h3{
    font-size: 35px;
    color: var(--heading-clr);
}
.hero-section .left-side .contents h1{
    font-size: 22px;
    text-transform: uppercase;
    padding: 15px 0px 4px;
    color: var(--heading-clr);
}
.hero-section .left-side .contents h2{
    font-size: 22px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: var(--darkblue-clr);
    font-family: sans-serif;
}
.hero-section .left-side .contents p{
    font-size: 15px;
    color: var(--menu-items-clr);
    margin-top: 10px;
}

.hero-section .left-side .contents .hire-btn{
    margin-top: 30px;
    padding: 9px 30px;
    font-size: 18px;
}

.hero-section .left-side .social-media{
    position: absolute;
    bottom: 0px;
}

.hero-section .left-side .social-media a{
    text-decoration: none;
    color: #999;
    margin-right: 20px;
    
}